@use "../../styles/variables";
@use "../../styles/mixins";

.new-credentials-container {
  @include mixins.full-height-center;

  h2 {
    @include mixins.font-title;
    margin-bottom: 20px;
  }

  p {
    @include mixins.font-normal;
    margin-bottom: 20px;
  }

  // Targeting the labels in the CredentialForm specifically for this page
  .credential-form .input-group label {
    display: block;
    color: variables.$primary-color; // Specific color for New Credentials page
    background-color: variables.$secondary-color; // Specific background for New Credentials page
    margin-bottom: 5px;
    position: absolute;
    border-radius: 0px 4px 0px 0px;
    padding: 3px;
    transform: translateY(-24px);
    line-height: 18px;
    letter-spacing: 0.15em;
    text-align: left;
  }
}
