// Color Variables
$primary-color: #15085f;
$secondary-color: #ffbd21;
$white-color: #ffffff;
$alert-color: #ff4910;

// Font Variables
$font-open-sans: "Open Sans", sans-serif;
$font-pt-mono: "PT Mono", monospace;
