@use "../../styles/mixins";
@use "../../styles/variables";

.credential-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-group {
    width: 311px;
    margin-bottom: 20px;
    margin-top: 20px;

    label {
      display: block;
      color: variables.$primary-color;
      background-color: variables.$secondary-color;
      margin-bottom: 5px;
      position: absolute;
      border-radius: 0px 4px 0px 0px;
      padding: 3px;
      transform: translateY(-14px);
      @include mixins.font-small-text;
    }

    input {
      width: 100%;
      height: 62px;
      border-radius: 0px 4px 4px 4px;
      border: 1px solid variables.$secondary-color;
      padding: 10px;
      font-size: 16px;
      color: #ffffff;
      background-color: transparent;
      transition: border-color 0.3s;

      &::placeholder {
        @include mixins.font-body;
        color: variables.$secondary-color;
      }

      &:focus {
        border-color: variables.$white-color;
        outline: none;
      }
    }

    .password-wrapper {
      position: relative;

      .toggle-password {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        img {
          width: 20px;
          height: auto;
        }
      }

      .generate-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        img {
          width: 20px;
          height: auto;
        }
      }
    }
  }

  button {
    background-color: #ffbd21;
    color: #15085f;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: darken(#ffbd21, 10%);
    }
  }
}
