.credential-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
  }

  button {
    background-color: #ffbd21; // Yellow
    color: #15085f; // Dark Blue
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
}
