@use "../../styles/mixins";
@use "../../styles/variables";

.credential-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-group {
    width: 311px; // Set width
    margin-bottom: 20px; // Space between fields

    label {
      display: block;
      color: variables.$primary-color; // Change label color to primary
      background-color: variables.$secondary-color; // Change background color to secondary
      margin-bottom: 5px; // Space below label
      position: absolute;
      border-radius: 0px 4px 0px 0px;
      padding: 3px;
      transform: translateY(-14px); // Move the label up by 10 pixels
      @include mixins.font-small-text; // Apply the font-small mixin
    }

    input {
      width: 100%; // Full width
      height: 62px; // Set height
      border-radius: 0px 4px 4px 4px; // Rounded corners
      border: 1px solid #ffbd21; // Border style
      padding: 10px; // Padding
      font-size: 16px; // Font size
      color: #ffffff; // Text color
      background-color: transparent; // Transparent background
      transition: border-color 0.3s; // Smooth transition for border color

      &::placeholder {
        @include mixins.font-body; // Apply the font-body mixin to the placeholder
        color: variables.$secondary-color; // Optional: Set placeholder color
      }

      &:focus {
        border-color: #ff4910; // Change border color on focus
        outline: none; // Remove default outline
      }
    }

    .password-wrapper {
      position: relative; // Position relative for the icon

      .toggle-password {
        position: absolute;
        right: 10px; // Position the icon
        top: 50%; // Center vertically
        transform: translateY(-50%); // Adjust for vertical centering
        cursor: pointer; // Change cursor to pointer
        color: #ffbd21; // Icon color
      }
    }
  }

  button {
    background-color: #ffbd21; // Yellow
    color: #15085f; // Dark Blue
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: darken(#ffbd21, 10%); // Darken on hover
    }
  }

  // Style for the image
}
