.password-list {
  list-style: none;
  padding: 0;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff; // White background for items
    border-radius: 5px;

    .password-list__edit {
      background: none;
      border: none;
      color: #ffbd21; // Yellow
      cursor: pointer;
    }
  }
}
